{#
/**
 * @file
 * Default theme implementation for links to the Drupal API.
 *
 * @ingroup themeable
 */
#}
<a href="{{ link.url }}" title="{{ link.title }}" target="drupal_api" uk-tooltip>{{ link.caption }}</a>
