{#
/**
 * @file
 * Default theme implementation for links to a Drupal project.
 *
 * @ingroup themeable
 */
#}
<a href="{{ link.url }}" title="{{ link.title }}" class="drupal-project" target="drupal_project" uk-tooltip>{{ link.caption }}</a>
