{% if links %}
  <div class="uk-clearfix">
    {% include "@dc/components/links.html.twig" with {
      attributes: attributes.addClass('uk-float-right', 'uk-text-small')
    } %}
  </div>
{% endif %}
