{% embed "@dc/content/node--full.html.twig" %}
  {% block node_body %}
    {{ content.body }}
  {% endblock %}
  {% block node_attachment_after %}
    {%- if content.discussion_answers is not empty -%}
      <h3 class="dc-heading uk-margin-left">{{ content.num_answers }}</h3>
      {{- content.discussion_answers -}}
    {%- endif -%}
  {% endblock %}
{% endembed %}