{% if logged_in %}
  {{- user_picture -}}
{% else %}
  {# Show dummy icon for non logged in users#}
  <a href="/user/login" class="uk-icon-button dc-icon-user-login" uk-icon="icon: users; ratio: 1.3"></a>
{% endif %}
<div uk-dropdown="pos: bottom-right" class="uk-padding-small uk-width-small">
  {{ content }}
</div>
