.header__full_width_light {
  background: $color--light-blue;
  .uk-navbar {
    background: $color--light-blue;
  }
  .uk-search-field {
    background: $color--white;
  }
}

.header__full_width_dark {
  background: $color--dark-blue;
  border-bottom: 1px solid $color--light-blue;
  .uk-navbar {
    background: $color--dark-blue;
  }
  .uk-search-field {
    background: $color--white;
  }
}

.header__full_width_navy {
  background: $color--navy-blue;
  .uk-navbar {
    background: $color--navy-blue;
  }
  .uk-search-field {
    background: $color--white;
  }
}

.header__full_width_light_navy {
  background: $color--light-navy-blue;
  border-bottom: 1px solid $color--light-blue;
  .uk-navbar {
    background: $color--light-navy-blue;
  }
  .uk-search-field {
    background: $color--white;
  }
}

.footer__full_width_grey {
  background: $color--light-grey;
}
