@charset "UTF-8";

// Global variables.
@import "variables/colors";
@import "variables/sizes";
@import "variables/typography";

// Base styles.
@import "base/typography";
// Basic HTMl elements.
@import "base/base";
// Overwrite uikit styles.
@import "base/overwrite-ui-kit";

// Overwrite base theme.
@import "layout/page";

// Overwrite uikit components / custom stuff.
@import "components/breadcrumb";
@import "components/chosen";
@import "components/code";
@import "components/comments";
@import "components/discussions";
@import "components/marker";
@import "components/navbar";
@import "components/quote";
@import "components/search_autocomplete";
@import "components/tooltip";
@import "components/vertical_tabs";
