$base-font-family: "Helvetica Neue", "Segoe UI", "Helvetica" , sans-serif;
$base-font-size: 14px;
$base-font-weight: 300;
$headline-font-weight: 300;
$strong-font-weight: 500;
$base-letter-spacing: 0.3px
